<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Страница входа</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/static/view/images/icons/favicon.ico" th:href="@{/view/images/icons/favicon.ico}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/view/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/view/vendor/bootstrap/css/bootstrap.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/view/fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/view/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/view/vendor/animate/animate.css" th:href="@{/view/vendor/animate/animate.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/view/vendor/css-hamburgers/hamburgers.min.css" th:href="@{/view/vendor/css-hamburgers/hamburgers.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/view/vendor/select2/select2.min.css" th:href="@{/view/vendor/select2/select2.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/view/css/util.css" th:href="@{/view/css/util.css}">
	<link rel="stylesheet" type="text/css" href="/static/view/css/main.css" th:href="@{/view/css/main.css}">
	<!--===============================================================================================-->
</head>
<body>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="/view/images/img-01.png" alt="IMG">
			</div>


				<form class="login100-form validate-form" method="POST" action="/login">


					<span class="login100-form-title">
						НИИ ВАМТО
					</span>


					<div class="wrap-input100 validate-input" data-validate = "A valid login is required">

						<input class="input100" type="text" name="login" placeholder="имя пользователя">

						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">

						<input class="input100" type="password" name="password" placeholder="пароль">

						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Войти
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1"></span>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="#">

							<i class="" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js" th:src="@{/view/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js" th:src="@{/view/vendor/bootstrap/js/popper.js}"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/view/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js" th:src="@{/view/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/tilt/tilt.jquery.min.js" th:src="@{/view/vendor/tilt/tilt.jquery.min.js}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="../static/js/main.js" th:src="@{/view/js/main.js}"></script>

</body>
</html>